<section class="p-change-password">
    <PREFIX_WEBAPP-loader [show]="isLoading$ | async" [overlay]="true"></PREFIX_WEBAPP-loader>
    
    <div class="p-change-password__container">
        <div #container class="container">
            <div class="grid-spaceBetween">
                <div class="p-change-password__form col-4_xs-12">
                    <h1 [innerHTML]="title"></h1>

                    <div class="o-tabs-container">
                        <form class="o-forms" [formGroup]="changePasswordFormGroup" autocomplete="off" (ngSubmit)="onChangePassword()">
                            <div class="o-forms__field">
                                <mat-form-field>
                                    <mat-label class="o-forms__field__label">Contraseña</mat-label>
                                    <input matInput formControlName="password" type="password" required [type]="!hide ? 'password' : 'text'">

                                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                        
                                    <mat-error *ngIf="getField('password').invalid">
                                        Debe ingresar una contraseña nueva
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        
                            <div class="o-forms__field">
                                <mat-form-field>
                                    <mat-label class="o-forms__field__label">Contraseña</mat-label>
                                    <input matInput formControlName="password_confirmation" type="password" required [type]="!hideConfirm ? 'password' : 'text'">
                                    
                                    <button type="button" mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
                                        <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                        
                                    <mat-error *ngIf="getField('password_confirmation').invalid">
                                        Las contraseñas no coinciden
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <button type="submit" class="button" [disabled]="!changePasswordFormGroup.valid">Cambiar</button>
                           
                            <div class="social-login mt-30">
                                <a (click)="goTo('registro')" class="register-action mb-20 align-center">No tiene cuenta? Regístrece</a>
                                <a (click)="goTo('login')" class="register-action align-center">Ya se encuentra registrado? INICIO</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="p-change-password__thumbnail grid-middle-center hidden-xs" [ngStyle]="{'height.px': container.offsetHeight}">
            <figure>
                <img src="../../../assets/images/logo-symbol.svg">
            </figure>
        </div>
    </div>
</section>
