<section class="user-register">
  <h1>{{ title }}</h1>

  <mat-horizontal-stepper [linear]="true" #registerStepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" class="grid-top-equalHeight form">
        <ng-template matStepLabel>¿Quien eres?</ng-template>

        <application-prefix-loader [show]="firstFormGroupIsLoading" [overlay]="true">
        </application-prefix-loader>

        <div class="container-element container-element--field col-12">
          <mat-form-field>
            <mat-select placeholder="Tipo de usuario" [(ngModel)]="user.role" formControlName="roleCtrl">
              <mat-option *ngFor="let role of roles" [value]="role">
                {{ role }}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="!firstFormGroup.roleCtrl">
              Seleccione un tipo de usuario
            </mat-error>
          </mat-form-field>
        </div>

        <div class="container-element container-element--button col-12">
          <button class="button button--primary" [disabled]="!firstFormGroup.valid" matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup" class="grid-top-equalHeight form mt-30">
        <ng-template matStepLabel>Acerca de ti</ng-template>

        <div class="container-element container-element--field col-12">
          <mat-form-field>
            <input matInput placeholder="Usuario" [(ngModel)]="user.username" formControlName="usernameCtrl">

            <mat-error *ngIf="!secondFormGroup.usernameCtrl">
              Ingrese un nombre de usuario
            </mat-error>
          </mat-form-field>
        </div>

        <div class="container-element container-element--field col-6">
          <mat-form-field>
            <input matInput placeholder="Nombre" [(ngModel)]="user.name" formControlName="nameCtrl">

            <mat-error *ngIf="!secondFormGroup.nameCtrl">
              Ingrese un nombre
            </mat-error>
          </mat-form-field>
        </div>

        <div class="container-element container-element--field col-6">
          <mat-form-field>
            <input matInput placeholder="Apellidos" [(ngModel)]="user.lastname" formControlName="lastnameCtrl">
          </mat-form-field>
        </div>

        <div class="container-element container-element--field col-12">
          <mat-form-field>
            <input matInput placeholder="Email" [(ngModel)]="user.email" formControlName="emailCtrl">

            <mat-error *ngIf="!secondFormGroup.emailCtrl">
              Ingrese un email valido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="container-element container-element--field col-6">
          <mat-form-field>
            <input matInput placeholder="Contraseña" type="password" [(ngModel)]="user.password" formControlName="password">

            <mat-error *ngIf="!secondFormGroup.password">
              Ingrese una contraseña
            </mat-error>
          </mat-form-field>
        </div>

        <div class="container-element container-element--field col-6">
          <mat-form-field>
            <input matInput placeholder="Repita contraseña" type="password" formControlName="confirmPassword">

            <div *ngIf="secondFormGroup.errors?.doesMatchPassword" class="custom-error mat-input-subscript-wrapper mat-form-field-subscript-wrapper">
              <div class="mat-error">
                Las contraseñas no coinciden
              </div>
            </div>
          </mat-form-field>
        </div>

        <div class="container-element container-element--button col-12">
          <button class="button button--secondary mr-10" matStepperPrevious>Atras</button>
          <button class="button button--primary" (click)="onSubmit(registerStepper)" [disabled]="!secondFormGroup.valid">Finalizar</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Finalizar</ng-template>

      <application-prefix-loader [show]="thirdStepIsLoading" [overlay]="true"></application-prefix-loader>

      <div *ngIf="userRegistered; else errorRegister">
        <div class="message message--success">
          <h3>{{ message }}</h3>
        </div>
        <button class="button button--primary" [routerLink]="['/login']">Entrar</button>
      </div>
      <ng-template #errorRegister>
        <div class="message message--error">
          <h3>{{ message }}</h3>
        </div>

        <button class="button button--primary" matStepperPrevious>Atras</button>
      </ng-template>
    </mat-step>
  </mat-horizontal-stepper>
</section>
