@mixin button-text-styles {
  color: $color-text;
  font-family: $font-medium;
  font-size: 18px;
  line-height: 58px;
  text-align: center;
}

button,
.button {
  @include button-text-styles;
}

.button {
  display: inline-block;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 8px;
  border: none;
  background-color: $color-secondary;
  color: #FFFFFF;

  &:hover {
    background-color: $color-secondary;
    color: #FFFFFF;
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--clear {
    padding: 0;
    border: none;
    background-color: transparent;
    color: $color-text;
    line-height: 18px;

    &:hover {
      background-color: transparent;
      color: $color-text;
    }
  }

  &--primary {
    background-color: $color-primary;

    &:hover {
      background-color: $color-primary;
      color: #FFFFFF;
    }
  }

  &--danger {
    background-color: $color-danger;
  }

  i {
    color: #FFFFFF;
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.a-promotor-button {
  padding: 15px 18px;
  background-color: #FFFFFF;
  border-radius: 8px;
  border: none;
  color: $color-text;
  font-size: 12px;
  font-family: $font-medium;
  line-height: 12px;
  letter-spacing: 0.48px;
  white-space: nowrap;
  cursor: pointer;

  @media all and (min-width: 768px) {
    font-size: 16px;
    line-height: 16px;
  }

  &--blue {
    background-color: $color-primary;
    color: #FFFFFF;
  }

  &--red {
    background-color: #E72D41;
    color: #FFFFFF;
  }

  &--blue-light {
    background-color: #5BC5EF;
    color: #FFFFFF;
  }

  &--yellow {
    background-color: $color-secondary;
  }

  &--bigger {
    padding: 15px 25px;

    @media all and (min-width: 768px) {
      font-size: 18px;
      line-height: 18px;
    }
  }

  &:hover {
    color: $color-secondary;
  }
}

.mat-button {
  color: #FFFFFF !important;
  font-size: 18px !important;
  line-height: 50px !important;
  font-family: $font-medium !important;

  &.mat-primary {
    &:not([disabled]) {
      background-color: #5CC5EF !important;
    }
  }
  &.mat-accent {
    &:not([disabled]) {
      background-color: #00AD61 !important;
    }
  }
}
