.mat-calendar-header {
  .mat-calendar-period-button {
    color: $color-link;
    font-family: $font-semibold;

    .mat-calendar-arrow {
      border-top-color: $color-brand;
    }
  }

  .mat-calendar-next-button,
  .mat-calendar-previous-button {
    color: $color-brand;
  }
}

.mat-calendar-content {
  .mat-calendar-table {
    &-header {
      th {
        color: $color-text;
        font-family: $font-semibold;
      }

      &-divider {
        &:after {
          background: $color-brand;
        }
      }
    }

    .mat-calendar-body {
      &-label {
        color: $color-brand;
        font-family: $font-semibold;
      }

      &-cell {
        &:hover {
          .mat-calendar-body-cell-content {
            &:not(.mat-calendar-body-selected) {
              background-color: #94AED1;
              color: $color-white;
            }
          }
        }

        &-content {
          color: $color-text;
          font-family: $font-paragraph;
        }
      }

      &-today {
        border-color: $color-brand;
        border-width: 2px;
        background-color: $color-brand;
        color: $color-white;
      }

      &-selected {
        background-color: #94AED1;
        color: $color-white;
      }
    }
  }
}
