.mat-table {
  .mat-header-row {
    text-align: center;

    .mat-sort-header-button {
      color: $color-link;
      font-family: $font-semibold;
      font-size: 18px;
    }

    .mat-sort-header-arrow {
      top: 4px;
      margin-left: $space-element--inside;
      color: $color-brand;
    }
  }

  .mat-row {
    .mat-cell {
      @include paragraph-styles;

      .mat-icon {
        color: $color-text;
      }
    }

    &:nth-child(even) {
      background-color: $bg-container-color;
    }
  }
}

.mat-paginator {
  &.of-theme {
    @include paragraph-styles;

    .mat-select {
      .mat-select-value {
        @include paragraph-styles;
      }
    }

    .mat-paginator-icon {
      path {
        color: $color-brand;
      }
    }
  }
}

