<article>
    <header style="padding-top: 40px; padding-bottom: 40px; background-color: #272828; text-align: center;">
        <img src="cid:logo" style="width: 270px; height: 124px;"/>
    </header>

    <div style="text-align: center; padding-top: 60px; padding-bottom: 60px;">
        <h1 style="margin-bottom: 20px; color: #222323; font-size: 30px;">{{ title }}</h1>
        
        <a href="{{ link }}">Click aqui</a>
    </div>

    <footer style="text-align: center; padding-top: 20px; padding-bottom: 20px; background-color: #E5E5E6;">
        <p style="color: #8D949E; font-size: 17px;">{{{ copyright }}}</p>
    </footer>
</article>
