<section class="p-recovery-password">
    <PREFIX_WEBAPP-loader [show]="isLoading$ | async" [overlay]="true"></PREFIX_WEBAPP-loader>
    
    <div class="p-recovery-password__container">
        <div #container class="container">
            <div class="grid-spaceBetween">
                <div class="p-recovery-password__form col-4_xs-12">
                    <h1 [innerHTML]="title"></h1>

                    <div class="o-tabs-container">
                        <form class="o-forms" [formGroup]="recoveryPasswordFormGroup" autocomplete="off" (ngSubmit)="onRecoveryPassword()">
                            <div class="o-forms__field">
                                <mat-form-field>
                                    <mat-label class="o-forms__field__label">Email</mat-label>
                                    <input matInput formControlName="email" required>
                        
                                    <mat-error *ngIf="getField('email').invalid">
                                        El correo electronico es requerido
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <button type="submit" class="button" [disabled]="!recoveryPasswordFormGroup.valid">Ingresar</button>

                            <div class="social-login mt-30">
                                <a (click)="goTo('registro')" class="register-action mb-20 align-center">No tiene cuenta? Regístrece</a>
                                <a (click)="goTo('login')" class="register-action align-center">Ya se encuentra registrado? INICIO</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="p-recovery-password__thumbnail grid-middle-center hidden-xs" [ngStyle]="{'height.px': container.offsetHeight}">
            <figure>
                <img src="../../../assets/images/logo-symbol.svg">
            </figure>
        </div>
    </div>
</section>
