<section class="p-login">
    <PREFIX_WEBAPP-loader [show]="isLoading$ | async" [overlay]="true"></PREFIX_WEBAPP-loader>
    
    <div class="p-login__container">
        <div #container class="container">
            <div class="grid-spaceBetween">
                <div class="p-login__form col-4_xs-12">
                    <h1 [innerHTML]="title"></h1>

                    <div class="o-tabs-container">
                        <nav *ngIf="page !== 'change-password' && page !== 'recovery-password'" class="o-tabs-container__navigation grid-middle-spaceBetween">
                            <button [ngClass]="{'is-active': page === 'login'}" type="button" class="button button--clear col-shrink">Ingresar</button>
                            <button [ngClass]="{'is-active': page === 'registro'}" (click)="goTo('registro')" type="button" class="button button--clear col-shrink">Registrarse</button>
                        </nav>

                        <form class="o-forms" [formGroup]="loginFormGroup" autocomplete="off" (ngSubmit)="onLogin()">
                            <div class="o-forms__field">
                                <mat-form-field>
                                    <mat-label class="o-forms__field__label">Email</mat-label>
                                    <input matInput formControlName="username" required>
                        
                                    <mat-error *ngIf="getField('username').invalid">
                                        El correo electronico es requerido
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        
                            <div class="o-forms__field">
                                <mat-form-field>
                                    <mat-label class="o-forms__field__label">Contraseña</mat-label>
                                    <input matInput formControlName="password" required [type]="!hide ? 'password' : 'text'">

                                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                        
                                    <mat-error *ngIf="getField('password').invalid">
                                        La contraseña es requerida
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        
                            <a (click)="goTo('recupero')" class="forgot-password align-right mt-30">Olvidaste tu contraseña?</a>
                        
                            <button type="submit" class="button">Ingresar</button>
                        
                            <div class="social-login">
                                <h3>Iniciar sesión con</h3>
                                <a href="{{apiUrlLogin}}login/google" class="facebook button">Facebook</a>
                                <a href="{{apiUrlLogin}}login/google" class="google button">Google</a>
                            </div>
                        
                            <a (click)="goTo('registro')" class="register-action align-center">No tiene cuenta? Registrese</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="p-login__thumbnail grid-middle-center hidden-xs" [ngStyle]="{'height.px': container.offsetHeight}">
            <figure>
                <img src="../../../assets/images/logo-symbol.svg">
            </figure>
        </div>
    </div>
</section>
