@import "../../../../../assets/styles/base/variables";
@import "../../../../../assets/styles/base/utils";

.p-general {
  padding-top: 30px;
  text-align: center;

  p {
    margin-bottom: 10px;
  }

  > svg {
    margin-bottom: 20px;
  }

  .container-items {
    max-width: 980px;
    margin-right: auto;
    margin-left: auto;
  }

  .item {
    padding: 40px 30px 30px;
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0px 2px 4px -1px rgba($color-primary, 0.2), 0px 4px 5px 0px rgba($color-primary, 0.14), 0px 1px 10px 0px rgba($color-primary, 0.12);

    img {
      display: block;
      max-height: 130px;
      margin-right: auto;
      margin-bottom: 10px;
      margin-left: auto;
    }

    figcaption {
      color: $color-text;
      font-size: 20px;
      font-family: $font-regular;
      line-height: 20px;
      text-transform: uppercase;
    }
  }
}