<ng-container *ngIf="translationsLoaded">
    <main class="Palmasoft" role="main" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <PREFIX_APP-header [state]="sidenav.opened" [brandWidth]="navigation.offsetWidth" (toggleNav)="sidenav.toggle()"></PREFIX_APP-header>

        <mat-sidenav-container>
            <mat-sidenav #sidenav [ngClass]="{'is-closed': !sidenav.opened, 'is-hidden': module === ''}">
                <div #navigation>
                    <PREFIX_APP-navigation [state]="sidenav.opened"></PREFIX_APP-navigation>
                </div>
            </mat-sidenav>

            <mat-sidenav-content displayHeight>
                <ng-container *ngIf="module !== ''">
                    <PREFIX_APP-breadcrumb></PREFIX_APP-breadcrumb>
                </ng-container>

                <div class="container--content grid-middle-noGutter">
                    <div class="container">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
        
        <PREFIX_APP-footer></PREFIX_APP-footer>
    </main>
</ng-container>