.panel {
  &-header {
    h1 {
      margin-bottom: $space-element--inside;
    }

    p {
      margin-bottom: 0;
    }
  }

  &-container {
    @extend .mat-elevation-z2;
    padding: 40px;
    background-color: $color-white;
  }
}
