@font-face {
    font-family: 'GothamBold';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/GothamNarrowBlack.ttf'), local('☺'), url('./assets/fonts/GothamNarrowBlack.woff') format('woff'), url('./assets/fonts/GothamNarrowBlack.ttf') format('truetype'), url('./assets/fonts/GothamNarrowBlack.svg') format('svg');
}

@font-face {
    font-family: 'GothamBook';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/GothamBook.ttf'), local('☺'), url('./assets/fonts/GothamBook.woff') format('woff'), url('./assets/fonts/GothamBook.ttf') format('truetype'), url('./assets/fonts/GothamBook.svg') format('svg');
}

@font-face {
    font-family: 'GothamLight';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/GothamLight.ttf'), local('☺'), url('./assets/fonts/GothamLight.woff') format('woff'), url('./assets/fonts/GothamLight.ttf') format('truetype'), url('./assets/fonts/GothamLight.svg') format('svg');
}

@font-face {
    font-family: 'GothamMedium';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/GothamMedium.ttf'), local('☺'), url('./assets/fonts/GothamMedium.woff') format('woff'), url('./assets/fonts/GothamMedium.ttf') format('truetype'), url('./assets/fonts/GothamMedium.svg') format('svg');
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-bold;
    color: $color-text;
}

h1 {
    font-size: 40px;
    line-height: 40px;

    @media all and (min-width: $screen-md) {
        font-size: 65px;
        line-height: 65px;
    }
}

h2 {
    font-size: 40px;
    line-height: 40px;
}

h3 {
    font-size: 32px;
    line-height: 32px;
}

h4 {
    font-size: 24px;
    line-height: 24px;
}

h5 {
    font-size: 18px;
    line-height: 18px;
}

p,
ul li,
ol li {
    @include paragraph-styles;
}

ul li,
ol li {
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0;
    }
}

ol {
    padding-left: 30px;

    > li {
        position: relative;
        counter-increment: list;
        list-style-type: none;

        &:before {
            color: #FA6E70;
            content: counter(list) '.';
            position: absolute;
            top: 7px;
            left: -32px;
            text-align: right;
            width: 26px;
        }
    }
}

a {
    @include paragraph-styles;
    transition-property: color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    font-family: $font-bold;
    text-decoration: none;

    &:focus {
        outline: none;
    }

    &:hover {
        transition-timing-function: ease-in;
        color: $color-primary;
        text-decoration: none;
    }
}

strong {
    font-weight: bold;
}
