@font-face {
    font-family: 'LatoBlack';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/Lato-Black.eot'), local('☺'), url('./assets/fonts/Lato-Black.woff') format('woff'), url('./assets/fonts/Lato-Black.ttf') format('truetype'), url('./assets/fonts/Lato-Black.svg') format('svg');
}

@font-face {
    font-family: 'LatoBold';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/Lato-Bold.eot'), local('☺'), url('./assets/fonts/Lato-Bold.woff') format('woff'), url('./assets/fonts/Lato-Bold.ttf') format('truetype'), url('./assets/fonts/Lato-Bold.svg') format('svg');
}

@font-face {
    font-family: 'LatoItalic';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/Lato-Italic.eot'), local('☺'), url('./assets/fonts/Lato-Italic.woff') format('woff'), url('./assets/fonts/Lato-Italic.ttf') format('truetype'), url('./assets/fonts/Lato-Italic.svg') format('svg');
}

@font-face {
    font-family: 'LatoMedium';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/Lato-Medium.eot'), local('☺'), url('./assets/fonts/Lato-Medium.woff') format('woff'), url('./assets/fonts/Lato-Medium.ttf') format('truetype'), url('./assets/fonts/Lato-Medium.svg') format('svg');
}

@font-face {
    font-family: 'LatoRegular';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/Lato-Regular.eot'), local('☺'), url('./assets/fonts/Lato-Regular.woff') format('woff'), url('./assets/fonts/Lato-Regular.ttf') format('truetype'), url('./assets/fonts/Lato-Regular.svg') format('svg');
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-bold;
}

h1 {
    font-size: 36px;
    line-height: 42px;
}

h2 {
    font-size: 27px;
    line-height: 29px;
}

h3 {
    font-size: 24px;
    line-height: 26px;
}

h4 {
    font-size: 16px;
    line-height: 22px;
}

h5 {
    font-size: 14px;
    line-height: 16px;
}

@mixin paragraph-styles {
    color: $color-text;
    font-size: $font-size-paragrah;
    font-family: $font-regular;
}

p, a {
    @include paragraph-styles;
}

a {
    color: $color-primary;
}
