[class*='hidden-'] {
    &[class*='-xs'] {
      @media only screen and (wm-media-width('max', $screen-md)) {
        display: none !important;
      }
    }
  
    &[class*='-md'] {
      @media only screen and (wm-media-width('min', $screen-md)) and (wm-media-width('max', $screen-lg)) {
        display: none !important;
      }
    }
  
    &[class*='-lg'] {
      @media only screen and (wm-media-width('min', $screen-lg)) {
        display: none !important;
      }
    }
}
  
[class*='d-flex-'] {
    display: flex;
  
    &[class*='-top'] {
      align-items: flex-start;
    }
  
    &[class*='-middle'] {
      align-items: center;
    }
  
    &[class*='-bottom'] {
      align-items: flex-end;
    }
  
    &[class*='-left'] {
      justify-content: flex-start;
    }
  
    &[class*='-center'] {
      justify-content: center;
    }
  
    &[class*='-right'] {
      justify-content: flex-end;
    }
}

.talign-center {
    text-align: center;
}
