$screen-md: 768px;
$screen-lg: 1024px;

$color-black: #000000;
$color-white: #FFFFFF;

$color-primary: #01AD61;
$color-accent-1: #EF90B9;
$color-secondary: #5CC5EF;

$color-promotor-primary: #4663AC;
$color-promotor-secondary: #F9F2A0;

$color-danger: #E72D41;
$color-red: #FA696A;
$color-text: #4D4D4D;

$color-link: $color-danger;
$color-error: $color-danger;

$font-bold: 'GothamBold';
$font-medium: 'GothamMedium';
$font-paragraph: 'GothamBook';
$font-light: 'GothamLight';

$font-paragraph-size: 16px;
$font-paragraph-size--desktop: 18px;
