$screen-sm: 569px;
$screen-md: 768px;
$screen-lg: 1024px;

$color-primary: #0078A5;
$color-text: #454549;

$font-black: 'LatoBlack';
$font-bold: 'LatoBold';
$font-italic: 'LatoItalic';
$font-medium: 'LatoMedium';
$font-regular: 'LatoRegular';

$font-size-paragrah: 16px;

$color-error: #FC6D6D;
$color-success: #12AD93;
$color-warning: #FFC200;

$max-width-container: 1200px;
