@import "../../../../../assets/styles/base/variables";
@import "../../../../../assets/styles/base/utils";

.Profile {
  &__info {
    padding-top: 40px;
    padding-bottom: 40px;

    &__box {
      margin-bottom: $space-element;
      padding-bottom: $space-element;
      border-bottom: 1px solid $bg-container-color;

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }

      h4 {
        @include paragraph-styles;
        color: #8E959F;
      }

      &--avatar {
        .avatar {
          position: relative;
          width: 165px;
          height: 180px;
          margin-right: auto;
          margin-left: auto;
          padding: 5px;
          border-radius: 50%;
          border: 2px solid $color-brand;

          &.is-empty {
            height: 165px;
          }

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }

          i {
            font-size: 165px;
          }

          .drop-zone {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;

            &.is-dropped {
              background-color: rgba(255, 255, 255, 0.7);
              opacity: 1;
            }

            &__data {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              border-radius: 50%;
              overflow: hidden;

              .mat-progress-spinner {
                position: absolute;
                top: 0;
                left: 0;

                circle {
                  stroke: $color-brand;
                }
              }

              .data {
                &-namefile,
                &-sizefile {
                  @include paragraph-styles;
                  display: block;
                  margin-bottom: $space-element--inside;
                }

                &-actions {
                  button {
                    margin-right: $space-element--inside;

                    &:last-child {
                      margin-right: 0;
                    }

                    &[data-action="upload"] {
                      background-color: $color-info;
                    }

                    &[data-action="cancel"] {
                      background-color: $color-warning;
                    }

                    &[data-action="remove"] {
                      background-color: $color-alert;
                    }

                    &[disabled] {
                      opacity: 0.75;
                    }
                  }
                }
              }
            }
          }

          .input-file-wrapper {
            position: absolute;
            right: -10px;
            bottom: 15px;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: #FFF;
            cursor: pointer;

            i {
              color: $color-brand;
              font-size: 45px;
            }

            input {
              width: 0;
              pointer-events: none;
              visibility: hidden;
            }
          }
        }

        .detail {
          text-align: center;

          h1 {
            margin-bottom: $space-element--inside;
            color: $color-black;
          }

          p {
            margin-bottom: 0;
          }
        }
      }

      &--contact-info,
      &--basic-info {
        p {
          margin-bottom: $space-element--inside;
          color: $color-black;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &--contact-info {
        i {
          margin-right: $space-element--inside;
          color: $color-brand;
        }
      }

      &--basic-info {
        p {
          span {

          }
        }
      }
    }
  }

  &__container {
    position: relative;

    .Cashback {
      &__element {
        margin-right: $space-element--inside;
        margin-left: $space-element--inside;
        padding-top: $space-element;
        padding-bottom: $space-element;
        padding-left: calc(50% - 95px);

        &__content {
          position: relative;
          padding-left: 50px;
          text-align: center;

          i {
            position: absolute;
            left: 0;
            top: 5px;
            color: $color-brand;
            font-size: 45px;
          }

          p {
            color: $color-black;

            span {
              display: block;
              margin-top: 5px;
              color: $color-brand;
              font-size: 30px;
              font-family: $font-titles;
              text-align: left;
            }
          }
        }
      }
    }
  }
}
