<ol class="m-breadcrumb">
  <div class="container">
    <li class="m-breadcrumb__item">
      <a *ngIf="breadcrumbs.length > 0" [routerLink]="['dashboard']">{{ 'breadcrumb-home'|translate }}</a>
      <span *ngIf="breadcrumbs.length === 0"><b>{{ 'breadcrumb-home'|translate }}</b></span>
    </li>
    <li *ngFor="let breadcrumb of breadcrumbs; let i = index;" class="m-breadcrumb__item">
      <a *ngIf="i != (breadcrumbs.length - 1)" [routerLink]="[breadcrumb.url]">{{ 'breadcrumb-' + breadcrumb.name|translate }}</a>
      <span *ngIf="i == (breadcrumbs.length - 1)"><b>{{ 'breadcrumb-' + breadcrumb.name|translate }}</b></span>
    </li>
  </div>
</ol>
