@import "../../../../assets/styles/base/variables";

.m-breadcrumb {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba($color-primary, 0.1);

  &__item {
    a,
    span {
      font-family: $font-regular;
      font-size: 15px;
      line-height: 15px;
    }

    a {
      color: $color-primary;
    }

    span {
      color: $color-text;
    }
  }
}