<footer class="o-footer">
    <div class="container">
        <div class="grid-middle-spaceBetween-noGutter">
            <div class="o-footer__license col-shrink">
                <p><strong>{{ 'footer-client'|translate }}</strong> </p>
                <p><strong>{{ 'footer-license'|translate }}</strong> </p>
            </div>

            <div class="o-footer__copyright col-shrink">
                <p>{{ 'copyright'|translate }}  <a href="https://agathos.technology">Agathos.technology</a></p>
            </div>
        </div>
    </div>
</footer>
