<article class="Presentation__element">
  <PREFIX_APP-loader [show]="isLoading$ | async" [overlay]="true"></PREFIX_APP-loader>

  <header class="Presentation__element__header mb-30">
    <h1>Recovery password</h1>
  </header>

  <form *ngIf="!userSelected; else changePasswordForm" class="form grid-top mb-10" novalidate [formGroup]="emailFormGroup" (ngSubmit)="onSubmitEmail()">
    <div class="container-element container-element--field col-12">
      <mat-form-field>
        <input matInput type="text" placeholder="Email" formControlName="email" required>

        <mat-error *ngIf="!emailFormGroup.email">
          Please specify your email
        </mat-error>
      </mat-form-field>
    </div>

    <div class="container-element container-element--button col-12 mt-20">
      <button class="button button--secondary button--block" type="submit">Send</button>
    </div>
  </form>

  <ng-template #changePasswordForm>
    <form class="form grid-top mb-10" novalidate [formGroup]="recoveryPasswordFormGroup" (ngSubmit)="onSubmitChangePassword()">
      <div class="container-element container-element--field col-12">
        <mat-form-field>
          <input matInput type="password" placeholder="Nueva contraseña" formControlName="password" required>

          <mat-error *ngIf="!recoveryPasswordFormGroup.password">
            This field is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="container-element container-element--field col-12">
        <mat-form-field>
          <input matInput type="password" placeholder="Repita contraseña" formControlName="confirmPassword" required>

          <div *ngIf="recoveryPasswordFormGroup.errors?.doesMatchPassword" class="custom-error mat-input-subscript-wrapper mat-form-field-subscript-wrapper">
            <div class="mat-error">
              The password not match
            </div>
          </div>
        </mat-form-field>
      </div>

      <div class="container-element container-element--button col-12 mt-20">
        <button class="button button--secondary button--block" type="submit" [disabled]="!recoveryPasswordFormGroup.valid">Reset password</button>
      </div>
    </form>
  </ng-template>
</article>
