<h1 class="dialog__title align-center" mat-dialog-title>{{ data.title }}</h1>

<div mat-dialog-content>
  <p *ngIf="data.message" class="align-center">{{ data.message }}</p>

  <div *ngIf="data.template" [innerHTML]="data.template"></div>

  <div *ngIf="data.form">
    <div class="form grid-top">
      <mat-form-field class="container-element container-element--field col-12" *ngFor="let field of data.form">
        <input matInput *ngIf="field.type == 'text' || field.type == 'password' && (!field.show || field.show === true)" type="{{ field.type }}" [(ngModel)]="data.model[field.name]" placeholder="{{ field.placeholder }}" (change)="onChange(data.model)">
        <textarea matInput *ngIf="field.type == 'textarea' && (!field.show || field.show === true)" [(ngModel)]="data.model[field.name]" placeholder="{{ field.placeholder }}" (change)="onChange(data.model)"></textarea>

        <mat-select *ngIf="field.type == 'select' && (!field.show || field.show === true)" [(ngModel)]="data.model[field.name]" placeholder="{{ field.placeholder }}" (change)="onChange(data.model)">
          <mat-option *ngFor="let option of field.options" [value]="option.value">
            {{ option.text }}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="field.required && data.model[field.name] === ''">
          {{ field.errorMessage }}
        </mat-error>
      </mat-form-field>

      <p *ngIf="data.formElement.errors?.doesMatchPassword" class="col-12 mt-10 message message--alert">
        Las contraseñas no coinciden
      </p>
    </div>
  </div>

  <div *ngIf="data.actions" class="align-center mt-20">
    <button class="button" mat-raised-button color="primary" *ngFor="let action of data.actions" (click)="data[action.callback](data.model)">
      {{ action.placeholder }}
    </button>
  </div>
</div>

<div class="dialog__actions grid-center mt-20" mat-dialog-actions>
  <button *ngIf="!data.confirm " class="button" mat-raised-button color="primary" (click)="onNoClick()">Aceptar</button>
  <button *ngIf="data.confirm" class="button" mat-raised-button (click)="onNoClick()">Cancelar</button>
  <button *ngIf="data.confirm" [disabled]="data.formElement && !data.formElement.valid" class="button" mat-raised-button color="primary" (click)="onConfirm()">Confirmar</button>
</div>
